.navbar {
  width: 5rem;
  position: fixed;
  background-color: #23232e;
  transition: width 600ms ease;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
}
.navbar:hover {
  width: 16rem;
}
.navbar:hover .logo svg {
  margin-left: 11rem;
}
.navbar:hover .logo-text {
  left: 0px;
}
.navbar:hover .logo svg {
  transform: rotate(360deg);
  fill: #6649b8;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) brightness(110%);
  transition: 600ms;
}
.nav-link:hover {
  filter: grayscale(0%);
  background: #141418;
  color: #ececec;
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: 600ms;
}

.link-text {
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ececec;
  background: #141418;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
  font-size: 15px !important;
}

.navbar-nav li:last-child {
  margin-top: auto;
}
.navbar:hover ~ #content{
  filter: blur(3px);
}